<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/bootStrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.ext.css" rel="stylesheet" />
    <link href="~/Scripts/fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="~/Scripts/assets/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- 选择框 -->
    <link href="~/Scripts/assets/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <!-- 选择框 -->
    <link href="~/Scripts/assets/css/plugins/chosen/chosen.css" rel="stylesheet" />
    <!-- 自定义 -->
    <link href="~/Scripts/assets/css/style.css" rel="stylesheet" />
    <style>

    </style>
    @RenderSection("styles", false)
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootStrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>

    <script src="~/Scripts/assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- Data Tables -->
    <script src="~/Scripts/assets/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 选择框 -->
    <script src="~/Scripts/assets/js/plugins/iCheck/icheck.min.js"></script>
    <!-- 自定义js -->
    <script src="~/Scripts/assets/js/content.js"></script>
    <!-- Chosen -->
    <script src="~/Scripts/assets/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/fileinput/js/fileinput.min.js"></script>


</head>

    @RenderBody()


</html>
