body{ background: #f0eff4; }
section{ padding-bottom: 7rem; }
.mainCon{ margin-top: 0.625rem; }
.mainCon .myBox{ margin-bottom: 0.625rem; }
.mainCon .myBox .title{ border-bottom: 1px solid #e2e2e2;padding: 0.75rem 0;background: #fff;border-top: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2; }
.mainCon .title p{ display: inline-block;font-size: 0.75rem;color: #999999;text-align: left; }
.mainCon .title p em{ display: inline-block;margin-left: 0.2rem; }
.mainCon .title span{ float: right;display: inline-block;font-size: 0.75rem;color: #e4393c;  }
.mainCon .work .box{ background: #fafafb;padding-bottom: 0.5rem;  }
.mainCon .work .tTopcon{ padding: 0.5rem 0 0.3rem 0;background: #fff;margin-bottom: 0.3rem; }
.mainCon .work .line{ width: 93.75%;margin: 0 auto 0.2rem;font-size: 0.8125rem;color: #222222;text-align: left;padding-left:1.25rem;line-height: 1.25rem; }
.mainCon .work .line span{ margin-left: 0.2rem; }
.mainCon .work .line01{ background: url(../images/comimg/tip07.png) left 0.25rem no-repeat;background-size: 0.84375rem 0.90625rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.mainCon .work .line02{ background: url(../images/comimg/tip14.png) left 0.2rem no-repeat;background-size: 0.84375rem 0.90625rem; }
.mainCon .work .line02 .left{ width: 2rem;float: left; }
.mainCon .work .line02 .right{ position: relative;margin-left: 2rem; }
.mainCon .work .line02 a{ font-size: 0.75rem;color: #44bbff;background: #fafafb; }
.mainCon .work .line02 a span{ color: #222222; }
.mainCon .work .line03{ background: url(../images/comimg/tip08.png) left 0.2rem no-repeat;background-size: 0.84375rem 0.90625rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;  }
.mainCon .work .line04{ background: url(../images/comimg/tip09.png) left 0.25rem no-repeat;background-size: 0.84375rem 0.90625rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;  }
.mainCon .work .line.line05{ display: block;background: url(../images/comimg/tip10.png) left 0.25rem no-repeat;background-size: 0.84375rem 0.90625rem;height: 1.25rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.mainCon .work .line05 span{ display:inline-block;width: 5.3rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;vertical-align: top;height: 1.25rem;line-height: 1.25rem; }
.mainCon .work .line05 span:nth-child(1){ margin-right: 1rem; }
.mainCon .work .line06{ background: url(../images/comimg/tip11.png) left 0.2rem no-repeat;background-size: 0.84375rem 0.90625rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;  }
.mainCon .work .line07{ background: url(../images/comimg/tip12.png) left 0.2rem no-repeat;background-size: 0.84375rem 0.90625rem;  }
.mainCon .work .line07 .left{ width: 2rem;float: left; }
.mainCon .work .line07 .right{ margin-left: 2rem; }
.mainCon .work .line07 a{ display: inline-block;margin-left: 0.3rem;width: 2.6875rem;vertical-align: middle;margin-bottom: 0.08rem; }
.mainCon .c_bottom{ border-top: 1px solid #e2e2e2;font-size: 0.75rem;color: #222222; padding: 0.45rem 0 0.3125rem 0;background: #ffffff; }
.mainCon .c_bottom .left{ position: relative;float: left;vertical-align: middle;line-height: 2rem;  }
.mainCon .c_bottom .right{ float: right; }
.mainCon .c_bottom .right a{ display: inline-block;font-size: 0.75rem;border-radius: 0.125rem;padding: 0.3125rem 0.625rem; }
.mainCon .c_bottom .right a:nth-child(1){ color: #222222;border: 1px solid #d0d0d0;margin-right: 0.5rem; }
.mainCon .c_bottom .right a:nth-child(2){ color: #e4393c;border: 1px solid #e4393c; }
.mainCon .c_bottom .contact{ display: none;position: absolute;background: rgba(62,59,70,0.9);width: 5.125rem;border-radius: 0.25rem;bottom: -6.8rem;left: 0; }
.mainCon .c_bottom .contact a{ display: block;font-size: 0.75rem;color: #fff;text-align: center;line-height: 2.1875rem; }
.mainCon .c_bottom .contact i{ width: 0;height: 0;font-size: 0;border-width: 6px;border-style: solid dashed dashed dashed;border-left-color: transparent;border-right-color: transparent;border-top-color: transparent;border-bottom-color: rgba(62,59,70,0.9);_zoom: 1;line-height: 0;position: absolute;top: -12px;left: 1.2rem; }
.mainCon .c_bottom .contact a.first{ border-bottom: 1px solid #86838d; }
.mainCon .c_bottom .left span{ display: inline-block;width: 0.625rem; margin-left: 0.2rem; } 
.progressNone{ display:block; }