@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "原始考勤查询";
}
@model AttendanceListViewModel
<style>
    .layui-layer-page .layui-layer-content {
        overflow: visible;
    }
</style>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <!-- 数据显示区 -->
                <div class="ibox-content">
                    <!-- 功能操作区 -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">学员姓名:</label>
                            </div>
                            <div class="col-sm-3">
                              
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">学号:</label>
                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">班级名称:</label>
                            </div>
                            <div class="col-sm-3">
                              
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="col-sm-11 project-actions">
                                <button type="button" class="btn btn-w-m btn-primary btn-sm" onclick="javascript:fresh();">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                            </div>
                        </div>
                    }
                    <!-- 数据列表 -->
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>学号</th>
                                <th>学员姓名</th>
                                <th>日期</th>
                                <th>打卡时间</th>
                                <th>识别</th>
                                <th>班级</th>
                            </tr>
                        </thead>
                        <!-- 循环数据 -->
                        <tbody>

                            <!-- 测试数据 -->

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">

    //判断页面是否有回车操作
    window.document.onkeydown = function (e) {
        e = e || window.event;
        if (e.keyCode == 13 || e.keyCode == 108) {
            document.getElementById('frmQuery').submit();
        }
    }



</script>
