@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/Shared/_Layoutwx.cshtml";//设置模板文件
}
@model WX_MessageBrowseModel

<div class="wrapper wrapper-content  animated fadeInRight w640">
            <div class="ibox-title">

            <h2>
                <a class="pull-left m-r-md">
                    <i class="fa fa-chevron-left"></i>
                </a>我的留言板
            </h2>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <h3 class="m-b-xxs">留言板</h3>
                </div>
            </div>
            @if (Model != null && Model.MessageList.Count() > 0)
            {
                foreach (var m in Model.MessageList)
                {
                    <div class="social-feed-box">
                        <div class="social-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="~/Scripts/assets/img/a6.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    @m.CreateMan
                                </a>
                                <small class="text-muted">@m.CreateTime</small>
                            </div>
                        </div>
                        <div class="social-body">
                            <p>
                                @m.Messageing
                            </p>
                            @*<img src="~/Scripts/assets/img/p1.jpg" class="img-responsive">*@
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>