@using DataProvider.Models
@using DataProvider.Paging
@model ReservationModel
@{
    ViewBag.Title = "资源录入";
    Layout = "~/Views/Shared/_Layoutwx.cshtml";//设置模板文件
}
<link href="~/CSS/common.css" rel="stylesheet" />
<link href="http://m.525j.com.cn/css/wxshare.css" rel="stylesheet" type="text/css" />
<link href="~/CSS/quotation.css" rel="stylesheet" />

<style>
    body {
        background: #f5f5f9;
    }

    .w640 {
        max-width: 640px;
        min-width: 320px;
        margin: 0 auto;
        overflow: hidden;
        overflow-x: hidden;
        overflow-x: hidden !important;
    }

    .w600 {
        width: 93.75%;
        margin: 0 auto;
        overflow: hidden;
    }

    .w640 img {
        width: 100%;
        height: auto;
    }

    #quotation {
        padding-top: 0px;
    }

    .calculatecon .remark {
        position: absolute;
        left: 22.5%;
        top: 50%;
        width: 77%;
        padding: 0.2rem 0;
        color: #999999;
        font-size: 0.75rem;
        border: none;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .calculatecon .line .selectBox {
        width: 50%;
    }
</style>




<script src="http://m.525j.com.cn/Scripts/jquery-1.7.1.min.js"></script>
<script src="http://m.525j.com.cn/js/cityjson.js" charset="utf-8"></script>





<section class="w640 pab375">


    <div id="quotation" class="w640">
        <div class="top">
            <img src="~/Images/backgrounds/wx_20170527160338.jpg" />
        </div>
        <div class="baojia">
            <div class="messages">
                <div class="inner">
                    最新的<span>暑期班</span>已经开始报名了，赶紧来加入吧！
                </div>
            </div>
            <div class="calculatecon">
                <div class="line">
                    <div class="l_box clearfloat">
                        <label>学员姓名</label>
                        <input id="ApName" type="text">
                    </div>
                </div>
                <div class="line">
                    <div class="l_box clearfloat">
                        <label>学员手机</label>
                        <input  type="tel" id="ApTel">
                    </div>
                </div>
                <div class="line">
                    <div class="l_box clearfloat">
                        <label>年级</label>
                        <input id="APGrade">
                    </div>
                </div>
                <div class="line level">
                    <div class="l_box clearfloat">
                        <label>参与课程</label>
                        <div class="selectBox select_type" style="">
                            <select>
                                @foreach (var m in Model.coureselist)
                                {

                                  <option value="@m.id">@m.name</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="line clearfloat">
                    <div class="l_box clearfloat">
                        <label>您的留言</label>
                        <textarea class="remark" type="text" style="height:100%;" id="APRemark"></textarea>
                    </div>
                </div>
            </div>
            <button class="getBtn" id="submit">马上预约/咨询</button>
        </div>

        <div class="shadow"></div>
        <div class="shadow2"></div>
    </div>



</section>




<style type="text/css">
    /*头部*/

    .headerCity {
        height: 2.78125em;
        position: fixed;
        width: 100%;
        margin: 0 auto;
        left: 0;
        top: 0;
        right: 0;
        z-index: 222;
        margin: 0 auto;
        background: #ffffff;
        margin: 0 auto;
        border-bottom: 1px solid #ececec;
    }

        .headerCity h1 {
            line-height: 2.933em;
            text-align: center;
            font-size: 0.9375em;
            color: #333333;
            font-weight: normal;
        }

        .headerCity .city_top {
            position: absolute;
            left: 1em;
            top: 0.875em;
            z-index: 222;
            line-height: 1;
        }

            .headerCity .city_top .logo {
                text-indent: -9999em;
                width: 0.5625em;
                height: 1.03125em;
                overflow: hidden;
                background: url(/images/city/leftbg.png) no-repeat;
                background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -webkit-background-size: 100% 100%;
                display: block;
                float: left;
            }

            .headerCity .city_top span {
                color: #333333;
                font-size: 0.75em;
                display: block;
                height: 1.375em;
                line-height: 1.375em;
                margin-left: 0.5em;
                float: left;
            }
    /*头部*/

    .cityCon {
        width: 100%;
        z-index: 1;
        position: relative;
    }

        .cityCon.topone {
            margin-top: 2.78125em;
        }

        .cityCon h2.h2_tit {
            color: #999999;
            font-size: 0.75em;
            text-indent: 0.833em;
            height: 2.625em;
            line-height: 2.625em;
            font-weight: normal;
        }

            .cityCon h2.h2_tit span {
                padding-right: 0.5em;
            }

        .cityCon .mentCon {
            background: #fff;
            height: 2.8125em;
            border-bottom: 1px solid #ececec;
            border-top: 1px solid #ececec;
        }

            .cityCon .mentCon p {
                color: #e72f17;
                padding-left: 1.375em;
                line-height: 2.75em;
            }

                .cityCon .mentCon p span {
                    font-size: 0.75em;
                }

        /*热门城市*/
        .cityCon .ment_re {
            background: #fff;
            border-bottom: 1px solid #ececec;
            border-top: 1px solid #ececec;
        }

    .ment_re .re_lie {
        border-bottom: 1px solid #ececec;
    }

        .ment_re .re_lie.bot {
            border-bottom: none;
        }

        .ment_re .re_lie a {
            display: block;
            float: left;
            width: 33%;
            font-size: 0.875em;
            color: #333333;
            text-align: center;
            height: 3.14285em;
            line-height: 3.14285em;
            border-right: 1px solid #ececec;
        }

            .ment_re .re_lie a:nth-of-type(3n) {
                border-right: none;
                width: 34%;
            }

            .ment_re .re_lie a.acurr {
                background: #f5f5f5;
            }
    /*字母排列*/
    .cityCon .ment_zi {
        background: #fff;
        border-top: 1px solid #ececec;
    }

    .ment_zi .zi_lie {
        border-bottom: 1px solid #ececec;
    }

        .ment_zi .zi_lie.bot {
            border-bottom: none;
        }

        .ment_zi .zi_lie a {
            display: block;
            float: left;
            width: 20%;
            font-size: 0.875em;
            color: #333333;
            border-bottom: 1px solid #ececec;
            text-align: center;
            height: 3.14285em;
            line-height: 3.14285em;
            border-right: 1px solid #ececec;
        }

            .ment_zi .zi_lie a.acurr {
                background: #f5f5f5;
            }

            .ment_zi .zi_lie a:nth-of-type(5n) {
                border-right: none;
            }


    /*返回顶部*/
    .redBag02 {
        position: fixed;
        bottom: 5em;
        left: 0;
        z-index: 200;
        width: 100%;
        display: none;
    }

        .redBag02 .inner {
            position: relative;
            margin: 0 auto;
            max-width: 640px;
            min-width: 320px;
        }

            .redBag02 .inner div {
                position: absolute;
                right: 4.375%;
                bottom: 0;
                width: 13.75%;
                cursor: pointer;
            }
</style>




<script src="~/Scripts/page-resize.js"></script>

<!-- 城市二级联动 -->
<script type="text/javascript">



    $("#submit").click(function () {
        save();
    })
    //提交数据
    function save() {
        var obj = new Object;

        obj.ApName = $("#ApName").val().trim();
        if (!obj.ApName) {
            layer.msg("请输入姓名！");
            return false;
        }
        obj.ApName = $("#ApName").val().trim();//赋值必须和数据库字段对应
        obj.ApTel = $("#ApTel").val().trim();

        obj.APRemark = $("#APRemark").val().trim();
        obj.SourceID = 2;//市场收集
        $.post('@Url.Action("AddAppointment", "Weixin")', {
            "data": JSON.stringify(obj)//序列化对象
        }, function (json) {
            alert("111");
            if (json.status == 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
        }, "json");
    }

    $(document).ready(function () {
 
    });

</script>


